<%- include('../partials/header') %>
<div class='row'>
  <div class='col-md-12'>
    <div class='card text-center col-md-6 m-auto p-2'>
      <h3>Create a New Comment for <%= campground.name %></h3>

      <form
        class='mb-1 container-fluid'
        action='/campgrounds/<%=campground._id%>/comments'
        method='POST'
      >
        <textarea
          rows='4'
          cols='50'
          name='comment[text]'
          placeholder='Enter comment here'
          required
        ></textarea>
        <button class='btn btn-sm btn-success'>Submit!</button>
      </form>

      <div class='container-fluid'>
        <a class='btn btn-sm btn-info' href='/'>Return to Home</a>
        <a class='btn btn-sm btn-info' href='/comments'>Go Back to Comments</a>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
